<div class="collapse navbar-collapse" id="main-menu">
    <ul class="nav navbar-nav">
        <li><a href="#">Todo</a></li>
        <li class="dropdown" dropdown is-open="header.reports.isOpen">
            <a class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                Reports <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Reports</a></li>
                <li class="divider"></li>
                <li><a href="#">Categories</a></li>
            </ul>
        </li>
       <li><a href="#">Documents</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>
</div>